
      <form role="form" action="/add-employee" method="POST">
        <div class="row collapse" id="add-employee-form">
        {{!-- close button: --}}
          <button type="button" class="btn btn-primary btn-circle" data-toggle="collapse" href="#add-employee-form"><i class="glyphicon glyphicon-remove"></i></button>
        {{!--  --}}
        <div class="form-group">
          <select class="mdb-select form-control mb-2 mr-sm-2" id="departmentID" editable="true" name="departmentId" searchable="Search and add here..." required>
            
            <option value="" disabled selected>Choose Department</option>
            {{#each departments}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}  
          </select>
        </div>
        <div class="form-group">
          <input type="text" name="jobTitle" id="jobTitle" class="form-control mb-2 mr-sm-2" placeholder="Enter or Choose Job Title " list="jobTitles" required>
          <datalist id="jobTitles">
            {{#each jobTitles}}
            <option value="{{this.jobTitle}}">{{this.jobTitle}}</option>
            {{/each}}
          </datalist>
        </div>

			  <div class="form-group">
          <input type="text" name="firstName" id="firstName" class="form-control mb-2 mr-sm-2" placeholder="Enter Firstname" required>
			  </div>

		  	<div class="form-group">
          <input type="text" name="lastName" id="lastName" class="form-control mb-2 mr-sm-2" placeholder="Enter Lastname" required>
			  </div>

  		  <div class="form-group">
          <input type="email" name="email" id="email" class="form-control mb-2 mr-sm-2" placeholder="Enter Email" required>
        </div>	    
        
        <button type="submit" class="btn btn-lg btn-primary btn-block" id="add-button">Add</button>
        <hr class="colorgraph">      
      </div>
    </form>