<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{pageName}}</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="public/stylesheets/{{pageName}}.css"/>
  </head>
  <body>
    {{{body}}}
  </body>

  <footer class="py-5 bg-dark">
      <div class="container-fluid">
          <p class="m-0 text-center text-white">Copyright &copy; Tam Pham 2020</p>
      </div>
  </footer>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="public/myJs/{{pageName}}.js"></script>
</html>