{{!-- navbar start --}}
<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <div class="navbar-header">
           <a class="navbar-brand" href="#">Company Directory</a>
        </div>
    </div>
</nav>
{{!-- navbar end --}}
<div class="container">
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <form role="form" action="/login" method="POST">
        <fieldset>
            <h2>Welcome to Company Directory!</h2>
            <br>
              <h5>Please enter the following username and password to sign in:</h5>
             
              <h5>Username = hello<br>Password = hello</h5>

            <hr class="colorgraph">
            <br>

            <div class="form-group">
                <input type="text" name="username" id="username" class="form-control input-lg" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Enter Password" required>
            </div>

            <br>
           {{#if showError}}
            <div>
                The username or password was incorrect. Please try again.
            </div>
            {{/if}}
            <hr class="colorgraph">
            <div class="form-group">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                </div>
            </div>
            
        </fieldset>
        </form>
        </div>
    </div>
</div>