 <header >
  <nav class="navbar navbar-expand-lg navbar-clean top-navbar" data-toggle="sticky-onscroll">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/results">Company Directory</a>
        <a id="logOutButton" class="logout" href="#">Logout</a>
      </div> 
          {{>logOutConfirmation}}   
    </div>

    <div class="container">
      <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <fieldset>
              <div class="row" id="navButton">
                  <div class="col-xs-4 col-sm-4 col-md-4">
                      <button type="submit"  id="add-employee-button" class="btn btn-lg btn-primary btn-block" >Add Employee</button>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                      <button type="submit"  id="find-employee-button" class="btn btn-lg btn-success btn-block" >Find Employee</button>
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4">
                    <a href="/results" class="btn btn-lg btn-warning btn-block" id="clear-search">Clear search</a>
                  </div>
              </div> 
		        <hr class="colorgraph">
          </fieldset>

           {{>find-employee-form}}    
           {{>add-employee-form}}  
        </div> 
      </div>
    </div>

  </nav>
</header>
{{!-- navbar end --}}
  {{>edit-form}} 
{{!--card --}}
  <div class="container" >
    {{#unless personnel.length}}
      <h5 style="text-align: center;">Sorry, the employee that you want to find does not exist!</h5>
      {{/unless}}
      {{#groupedEach 3 personnel}}
        <div class="row">
          {{#each this }}
            <div class="col-md-4 item">
              {{>employee-card this}}
            </div>
              {{/each}}      
        </div>
          {{/groupedEach}}

    {{>delete-confirmation}}
      <hr class="colorgraph"> 
</div>

