<div class="container">
  <div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <form role="form">
        <fieldset>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="" class="btn btn-lg btn-primary btn-block">Add Employee</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Find Employee">
                </div>
            </div> 
		      <hr class="colorgraph">
         
    {{!-- Search Form start --}}
        <div class="form-group">
          <select class="mdb-select form-control mb-2 mr-sm-2" editable="true" searchable="Search and add here...">
            <option value="" disabled selected>Choose Branch</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>
        <div class="form-group">
          <select class="mdb-select form-control mb-2 mr-sm-2" editable="true" searchable="Search and add here...">
            <option value="" disabled selected>Choose Department</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>  
          </select>
        </div>
        <div class="form-group">
          <select class="mdb-select form-control mb-2 mr-sm-2" editable="true" searchable="Search and add here...">
            <option value="" disabled selected>Choose Job Title</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </div>

			  <div class="form-group">
          <input type="text" name="first-name" id="first-name" class="form-control mb-2 mr-sm-2" placeholder="Enter Firstname">
			  </div>
		  	<div class="form-group">
          <input type="text" name="last-name" id="last-name" class="form-control mb-2 mr-sm-2" placeholder="Enter Lastname">
			  </div>
  		  <div class="form-group">
          <input type="email" name="email" id="email" class="form-control mb-2 mr-sm-2" placeholder="Enter Email">
        </div>	    
        <hr class="colorgraph"> 

        </fieldset>
        {{!-- Form end --}}
      </form>
    </div>
  </div>

  {{!-- Result table start --}}
  <div class="table-wrapper-scroll-y results-scrollbar">
    <table class="table table-bordered table-striped mb-0">
      <thead>    
        <tr>
          <th>ID</th>
          <th>Employee</th>
          <th>E/D</th>       
        </tr>
      </thead>>
      <tbody>
        {{#each personnel}}
        <tr>
          <td>{{this.id}}</td>
          <td>
            {{this.firstName}} {{this.lastName}} : Software Engineer
          </td>
          <td>
            <input type="submit" id="edit" class="btn btn-success btn-block" value="Edit">
            </br>
            <a href="" id="delete" class="btn btn-primary btn-block">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  {{!-- Result table end --}}
  </div>
    <hr class="colorgraph"> 
{{!-- container div end --}}
</div>