.login-error {
    color: rgb(133, 3, 3);

}

h2{
    text-align: center;
    padding: 10px;
}
h5{
    text-align: center;
}

#close-icon {
    color: green;
    position: fixed;
    margin-left: 100px;
}

 /* small screens: */
 @media only screen and (min-width: 280px
  ) and (max-width: 667px) { 
   .container{
     max-width: 80%;
   }
   h2{
    font-size:20px;
   }
   h5{
    font-size: 13px;
   }
 } 
 /* big screens: */
 @media only screen and (min-width: 1024px
 ) and (max-width: 1366px){ 
 .container{
    max-width: 100%;
    text-align: center;
    font-size: 20px;
 }

 .navbar{
    position: relative;
    width: 100%;
    padding: 20px;  
    margin-bottom:30px; 
   }

 .form-login-style{
   padding-top: 80px;
   padding-bottom: 180px;
 
 }

 }
