.results-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.form-inline {
    margin-left: 20px;
    
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 15px;
  position: relative;
  bottom: 10px;
  left: 94%;
  }

  .modal-dialog {
    position: absolute;
    top: 50px;
    right: 10px;
    bottom: 10px;
    left: 60px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    text-align: center;
  }
 
 a {
    font-size: large;
  }

  @media only screen and (min-width: 375px
  ) and (max-width: 667px) { 
    .container, .navbar {
      max-width: 80%;
      font-size: 13px;
    }
   .btn{
   
     font-size: 14px;
   }
  } 