
  /* navbar start  */
  .navbar.navbar-clean {
    background: #fff;
    border-radius: 0;
    border-bottom: 1px solid #bfbfbf;
    color: #8f8f8f;
  }
  .navbar.navbar-brand {
    font-weight: 200;
  }
  .navbar a {
    color: #8f8f8f;
    position: relative;
    top: 1px;
    margin-left: 6px;
  }
  .logout{
    float: right;
    margin-top: 13px;
  }
  /* navbar end  */

  
.results-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.form-inline {
    margin-left: 20px;
    
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 0;
  font-size: 15px;
  line-height: 1.428571429;
  border-radius: 15px;
  position: relative;
  bottom: 10px;
  left: 94%;
  }

  .modal-dialog {
    position: absolute;
    top: 50px;
    right: 10px;
    bottom: 10px;
    left: 60px;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    text-align: center;
  }
 
 a {
    font-size: large;
  }

  /* small screens: */
  @media only screen and (min-width: 280px
  ) and (max-width: 667px) { 

    .container {
      max-width: 80%;
      font-size: 13px;
      text-align: center;
    }

   .btn{
   
     font-size: 14px;
    }

   .navbar{
        position: relative;
        width: 100%;
        text-align: center;
    }
   .logout{
        left: -20px;
   }
         
  } 
/* large screens: */
  @media only screen and (min-width: 1024px
  ) and (max-width: 1366px){ 
  .container{
     max-width: 100%;
     text-align: center;
     font-size: 20px;
  }

  .btn{
     font-size: 25px;
    }
  .btn-circle{
    position: relative;
    margin-left: -450px;
    text-align: center;
    font-size: 20px;

  }
  .navbar{
     position: relative;
     width: 100%;
     padding: 10px;   
    }
  
  .new_footer_area bg_color{
    position: fixed;
  
  }

  }